/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #e3e6e9; 
    color: #013775; 
}

.container-form {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1, h2 {
    color: #013775;
}

/* Estilos para los formularios */
form {
    max-width: 800px;
    margin: 0 auto;
}

.form-label {
    font-weight: bold;
    color: #013775;
}

/* Botón de Confirmar */
.btn-primary {
    background-color: #12a9c2; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff; 
}

.btn-primary:hover {
    background-color: #0f8fa5;
}

.color-text{
    color: #091c5a;
    text-decoration: none; 
    color: inherit; 
    font-size: 24px;
    transition: text-shadow 0.3s ease;

}

.color-text:hover{
    text-shadow: 
        0 0 10px #091c5a
}

.color-text-navbar{
    color: white;
    text-decoration: none; 
    color: inherit; 
    font-size: 18px;
    transition: text-shadow 0.3s ease;

}

.color-text-navbar:hover{
    text-shadow: 
        0 0 10px white
}


.glow-on-click {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #091c5a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.glow-on-click:hover {
    text-shadow: 
        0 0 10px white;
    box-shadow: 0 0 10px #091c5a, 0 0 20px #091c5b; 
}


.custom-link {
    color: #6c757d;
    text-decoration: none;
    margin-top: 0.5rem;
    cursor: pointer; 
    transition: text-shadow 0.3s ease;
}
