.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #013775;
}

.navbar-brand {
    font-weight: bold; /* Texto en negrita */
    color: white;
}

.nav-item a{
    color: white;
}

.btn-outline-light {
    border-color: #fff; /* Borde blanco */
}

.btn-outline-light:hover {
    background-color: #fff; /* Fondo blanco al pasar el mouse */
    color: #000; /* Texto negro al pasar el mouse */
}

h1{
    color: #12a9c2;
}

h3{
    color: #013775!important;
}

.book-card {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal iframe {
    width: 100%;
    height: 500px;
    border: none;
    
}

.page-search {
    margin-bottom: 10px;
}

.color-text{
    color: #091c5a!important;
    text-decoration: none; 
    color: inherit; 
    font-size: 24px!important;
    transition: text-shadow 0.3s ease;

}

.color-text:hover{
    text-shadow: 
        0 0 10px #091c5a
}

.color-text-navbar{
    color: white;
    text-decoration: none; 
    color: inherit; 
    font-size: 18px;
    transition: text-shadow 0.3s ease;

}

.color-text-navbar:hover{
    text-shadow: 
        0 0 10px white
}

.container-form {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

