.headerContent {
  background-color: #253A69;
  margin: 0; 
  padding-bottom: 1vh;
  margin-top: 0.3vh;
  outline: solid #ffcc00;
  margin-bottom: 1vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: #253A69;
  margin: 0;
  padding: 0;
}

.logoUNAH {
  max-height: 8vh;
}

.registro {
  color: #ffcc00;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: x-large;
}

.menu {
  position: relative;
  margin-right: 8.86vw;
  display: inline-block;
  background: none; 
}


.menu input[type="checkbox"] {
    display: none;
  }
  
  .menu label {
    display: inline-block;     
    background-color: none;    
    color: #fff;
    padding: 8px;            
    cursor: pointer;
    border-radius: 4px;       
  }
  
  .menu label span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto; 
    background-color: #fff;
    transition: 0.4s;
  }
  
  .menu nav {
    display: none;        
    position: absolute;    
    top: 100%;          
    left: 0;
    width: 150px;          
    background-color: #333; 
    flex-direction: column; 
    z-index: 1000;
  }

  .menu nav a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid #444;
  }
  
  .menu nav a:hover {
    background-color: #444;
  }
  
  .menu input[type="checkbox"]:checked ~ nav {
    display: flex;
  }
  
  /* Efecto de “X” en el ícono */
  .menu input[type="checkbox"]:checked + label span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .menu input[type="checkbox"]:checked + label span:nth-child(2) {
    opacity: 0;
  }
  .menu input[type="checkbox"]:checked + label span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
.nav-link
{
  color: white !important;
  transition: 0.3s;

}
.nav-link:hover
{
  
  color: #253A69 !important;
  background-color: white;
}


.accessDynamicContainer
{
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.message
{
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 2vh;
}

.btn
{
  font-family: "Montserrat", sans-serif !important;
  background-color: #013775 !important;
  border-color:  #253A69 !important;
  padding-left: 4vh !important;
  padding-right: 4vh !important;
}

.carousel-item img {
  width: 100%;  /* La imagen se ajusta al ancho del carrusel */
  height: 60vh; /* Ajusta la altura de la imagen al 60% de la pantalla */
  max-height: 50vh; /* Evita que la imagen sea demasiado alta */
  object-fit: contain; /* Ajusta la imagen sin recortarla */
  object-position: center; /* Centra la imagen dentro del contenedor */
}

.dynamicContainers
{
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

#dynamics
{
  padding: 6vh 0vh 6vh 0vh;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 2vh;
  flex: 1 1 50%; 
  min-height: 200px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.leftDynamicContainer
{
  background-color: #12a9c2;
}

.rightDynamicContainer
{
  background-color: #013775;
}
#dynamicSpan
{
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 300;
  font-size: small;
  margin-bottom: 2vh;
}
#dynamicLeftButton
{
  background-color: #013775 !important;
}
#dynamicRightButton
{
  background-color: #12a9c2 !important;
}

